@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
 .body {
    background: #eee;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-weight: 200;
 }




#Title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
    
.pp {
    font-size: 0.8em;
    text-align: justify;
    padding: 0 10px;
   
    
}
.more-articles {
   text-align: center;
   margin-top: 1.5em;
   border-top: 1px solid #eee;
}
.more-articles section {
   display: inline-block;
   width: 44%
}
     .more-articles img {
      width: 100%;

    }
 
 
 .newspaper-container {
    width: 700px;
    margin: 3em auto;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 10px;
    background: white;
    box-shadow: 1px 1px 5px #ddd;

 }
 .date {
    font-size: 0.8em;
 }
 nav {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

 }
 nav li {
    display: inline-block;
    padding: 0 0.4em;
    color: #777;
 }
 nav ul {
    list-style-type: none;
    margin: 0;
   
 }
 nav a {
    color: #777;
    font-size: 0.7em;
 }
 nav li :hover {
  color: black;
  transition: all .8s linear;


 }
 a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }


